body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 55%;
}

aside{
    background-color: #79EBD5;
    color: white;
    width: 45%;
}

.align-center{
    align-items: center;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-top{
    justify-content: flex-start;
}

.flex-center{
    justify-content: center;
}

.flex-end{
    justify-content: flex-end;
}

.height-25{
    height: 25%;
}

.foto{
    border-radius: 50%;
    background-color: #79EBD5;
    width: 140px;
    height: 140px;
}

.margin-10{
    margin:10px;
}

.p10{
    padding: 10px;
}

.body{
    background-color: #092439;
    height: 75%;
}