*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    --color-1: #F9EFE5;
    --color-2: #000000;
    --color-3: #7F8790;
    --color-4: #8F92A1;
    --color-5: #F8F8F8;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

#logo{
    width: 30px;
    height: 40px;
}

header{
    display: flex;
    gap: 20px;
    width: 100%;
}

span{
    font-size: 25px;
}

h3{
    color: var(--color-3);
}

.saldo{
    display: flex;
    justify-content: space-between;
}

.acciones{
    background-color: var(--color-2);
    color: var(--color-5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
    padding: 15px 0;
    border-radius: 5px;
    width: 100%;
}

.card{
    flex: 0 0 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}

.card svg{
    width: 25px;
    height: 25px;
}

.acciones a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--color-5);
    gap: 8px;
}

.pagar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: calc(100vw - 15px * 6);
    background-color: var(--color-1);
    padding: 15px;
    gap: 10px;
    border-radius: 5px;
}

.oferta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FCB3C5;
    border-radius: 5px;
}

.oferta img{
    min-width: 150px;
    width: 15%;
}

.transacciones{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.transacciones .text{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.transaccion{
    display: flex;
    flex-direction: column;
}

.transaccion-card{
    width: 100%;
    height: 150px;
    background-color: var(--color-5);
    border-radius: 15px;
}

.transaccion-card img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

@media screen and (orientation: portrait) {
    .pagar{
        justify-content: start;
    }
}